<input type="checkbox" id="check">
<!--header area start-->
<header>
  <label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>Task <span>Management</span></h3>
  </div>
  <div class="right_area">
    <a href="#" (click)="logedOut()" class="logout_btn">Logout</a>
  </div>
</header>
<!--header area end-->
<!--mobile navigation bar start-->
<div class="mobile_nav">
  <div class="nav_bar">
    <img src="./assets/1.png" class="mobile_profile_image" alt="">
    <i class="fa fa-bars nav_btn"></i>
  </div>
  <div class="mobile_nav_items">
    <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
    <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
    <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
    <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
    <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
    <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
  </div>
</div>
<!--mobile navigation bar end-->
<!--sidebar start-->
<div class="sidebar">
  <div class="profile_info">
    <img src="./assets/2.jpg" class="profile_image" alt="">
    <h4>Robiul Hossain</h4>
  </div>
  <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
  <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
  <a href="#" [routerLink]=""><i class="fas fa-table"></i><span>Tables</span></a>
  <a href="#" [routerLink]="['/Home/Project']"><i class="fas fa-th"></i><span>Project</span></a>
  <a href="#" [routerLink]="['/Home/Sprint']"><i class="fas fa-info-circle"></i><span>Sprint</span></a>
  <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
</div>
<!--sidebar end-->

<div class="content">

  <router-outlet></router-outlet>
<!-- <app-project></app-project> -->
  <!-- <div class="card">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div class="card">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div class="card">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div> -->
</div>