<p>
  project
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
        + Project</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-border">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Project Name</th>
            <th scope="col">Is Support</th>
            <th scope="col">Expire Date</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projectList">
            <td>{{item.projectName}}</td>
            <td>{{item.isSupport? 'Yes' : 'No'}}</td>
            <td>{{item.expireDate|date}}</td>
            <td>
              <button type="button" class="btn btn-light mr-1"    data-toggle="modal" data-target=".bd-example-modal-lg"
               (click)="editClick(item)" data-backdrop="static" data-keyboard="false" >
               <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger mr-1"
              (click)="deleteProject(item.id)">
              <i class="fas fa-trash-alt"></i>
              </button>
          </td>
          </tr>         
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal Start -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">      
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" formControlName="ProjectName" 
            [ngClass]="{ 'is-invalid': submitted && f.ProjectName.errors }" [ngModel]="project.ProjectName">
            <div *ngIf="submitted && f.ProjectName.errors" class="invalid-feedback">
              <div *ngIf="f.ProjectName.errors.required">Project Name is required</div>
          </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Expire Date:</label>
            <input type="date" class="form-control" formControlName="ExpireDate" 
            [ngClass]="{ 'is-invalid': submitted && f.ExpireDate.errors }" [ngModel]="project.ExpireDate">
            <div *ngIf="submitted && f.ExpireDate.errors" class="invalid-feedback">
              <div *ngIf="f.ExpireDate.errors.required">Expire Date is required</div>
          </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Is Support:</label>
            <input type="checkbox" class="form-control" formControlName="IsSupport" 
            [ngClass]="{ 'is-invalid': submitted && f.IsSupport.errors }" [ngModel]="project.IsSupport">
            <div *ngIf="submitted && f.IsSupport.errors" class="invalid-feedback">
              <div *ngIf="f.IsSupport.errors.required">Is Support is required</div>
          </div>
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--Modal End-->